<body>
   <header id="header" class="header_margin">         <!--Шапка сайта-->
        
      <nav id="header_menu">
          <picture class="logo">
              <a href="../templates/main.html"><img src="../logo/Logo.svg" width="98px" height="40px"></a>
         </picture>
         <ul id="menu_bar">
          
          <li id="header_inactive" class="contacts_element">
              <a class="menu_element " id="menu_bar_click" href="../templates/404.html"><p class="size_text text_color"> Все предметы </p></a>
             
          </li> 
          
          <section class="menu">
              <section class="bar_click"></section>
          <li class="contacts_element">
              <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> О проекте </p></a>
          </li>
          <li class="contacts_element">
              <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> СМИ о нас </p></a>
          </li>
          <li class="contacts_element">
              <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> Отзывы </p></a>
          </li>
          <li class="contacts_element">
              <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> Контакты </p></a>
          </li>
          </section>
          </ul>
          <section id="buttons">
              
          <button onclick="document.location='../templates/404.html'" class="button button_consult_color button_size_1" id="button_location"><a class="text_button">Получить консультацию</a></button>
          <button onclick="document.location='../templates/404.html'" class="button button_pers_acc_color button_size_2" id="button_location"><a class="text_button_2">Вход в личный кабинет</a></button>
          </section>
      </nav>
  </header>
</body>
