<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="../styles/style.css">-->
    <link rel="stylesheet" href="../styles/css/main.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    
    
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    
    <title>РобикКлик</title>
</head>
<body>
    
    <header id="header" class="header_margin">         <!--Шапка сайта-->
        
        <nav id="header_menu">
            <picture class="logo">
                <a href="../templates/main.html"><img src="../logo/Logo.svg" width="98px" height="40px"></a>
           </picture>
           <ul id="menu_bar">
            
            <li id="header_inactive" class="contacts_element">
                <a class="menu_element " id="menu_bar_click" href="../templates/404.html"><p class="size_text text_color"> Все предметы </p></a>
               
            </li> 
            
            <section class="menu">
                <section class="bar_click"></section>
            <li class="contacts_element">
                <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> О проекте </p></a>
            </li>
            <li class="contacts_element">
                <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> СМИ о нас </p></a>
            </li>
            <li class="contacts_element">
                <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> Отзывы </p></a>
            </li>
            <li class="contacts_element">
                <a class="menu_element" id="header_menu_element" href="../templates/404.html"><p class="size_text text_color"> Контакты </p></a>
            </li>
            </section>
            </ul>
            <section id="buttons">
                
            <button onclick="document.location='../templates/404.html'" class="button button_consult_color button_size_1" id="button_location"><a class="text_button">Получить консультацию</a></button>
            <button onclick="document.location='../templates/404.html'" class="button button_pers_acc_color button_size_2" id="button_location"><a class="text_button_2">Вход в личный кабинет</a></button>
            </section>
        </nav>
    </header>

    <main>         <!--Основа сайта-->
        <article class="frame">     <!--Первый блок-->
            
            <section id="block_frame">
                
                <h1 id="text_frame_med_1">Превратите учёбу<span class="enter"> для ребенка </span><span class="text_enter">в увлекательное<span class="enter"> приключение</span></span></h1>
                
                
                <p class="size_text_frame_low" id="text_low">Подарите своему ребёнку яркое и
                    перспективное будуее  —  выполняйте наши задания
                    по конструированию и робототехнике
                </p>
                <button onclick="document.location='../templates/404.html'" class="button button_pers_acc_color button_size button_size_for_frame" id="button_location"><a class="text_button_2">Перейти к заданиям</a></button>
                
            </section>
            <picture>
            <img src="../pictures/block_1/block_1.svg" id="image_frame">
            <img src="../pictures/block_1/moon.svg" id="image_moon">
            <img src="../pictures/block_1/planet.svg" id="image_planet">
            
            </picture>
            <div class="background_color"></div>
        </article>
        



        
        <article class="block" id="block_2">   <!--Второй блок-->
            <h2 id="text">Развивайте творческое и
                 логическое мышление ребёнка
                  на онлайн-платформе
            </h2>
            
            <section class="tablets">

                <section class="tablet_block">
            <section class="table_low border-radius_block" >
                <section class="text_for_table_block">
                <h3 class="posts">Отслеживайте прогресс<span class="enter"> в личном кабинете </span></h3>
                <p id="text_color">За каждый успешно пройденный раздел ребёнок<span class="enter">
                    получает грамогу, а все результаты</span> фиксируются в профиле
                </p>
                </section>
                <picture class="image">
                    <img class="medal" src="../pictures/block_2/medal.png">
                    <img class="snowflake_1" src="../pictures/block_2/snowflake_1.png">
                    <img class="snowflake_2" src="../pictures/block_2/snowflake_2.png">
                    <img class="star_1" src="../pictures/block_2/star_1.png">
                    <img class="star_2" src="../pictures/block_2/star_2.png">
                    <img class="cursor_1" src="../pictures/block_2/Cursor(1).png">
                    <img class="cursor_2" src="../pictures/block_2/Cursor(2).png">
                </picture>
            </section>
            
            <section class="table_low_blu border-radius_block">
                <h3 class="posts">Создавайте аккаунт<span class="enter"> для каждого ребёнка</span></h3>
                <p id="text_color">Добавляйте до 5 аккаунтов детей — каждый<span class="enter">
                     может заниматься индивидуально</span>
                </p>
                <picture>
                    <img class="star_1" src="../pictures/block_2/star_3.png">
                    <img class="child_1" src="../pictures/block_2/child_1.png">
                    <img class="child_2" src="../pictures/block_2/child_2.png">
                    <img class="child_3" src="../pictures/block_2/child_3.png">
                    <img class="cursor" src="../pictures/block_2/circle.png">
                    <img class="circle" src="../pictures/block_2/Ellipse 2.png">
                    <img class="Plus" src="../pictures/block_2/Plus.png">
                    <img class="angelina" src="../pictures/block_2/angelina.png">
                    <img class="maxim" src="../pictures/block_2/maxim.png">
                </picture>
            </section>

            </section>

            <aside class="table_bok border-radius_block">
                <h3 class="h3_text_bok">Задания для всех возрастов</span></h3>
                <p class="text_bok_format" id="text_color">Выбирайте подходящую возрастную категорию:
                     конкурсы рассчитаны как на дошкольников,
                      так и на ребят постарше
                </p>

                <section class="block_age">
                <h3 class="text_age_block">Выберите возраст</h3>

                <section class="format_select">
                    <button class="button_format_select">8-9 лет</button>
                    <button class="button_format_select">10-12 лет</button>
                    <button class="button_format_select">12-13 лет</button>
                </section> <!--выберите возраст блок-->
                </section>
            
                <section>
            </aside>

        </article>

        <article class="block" id="block_3">    <!--Третий блок-->
            <section class="header_elements">
                <h2>Предметы</h2>
                <button onclick="document.location='../templates/404.html'" class="button button_pers_acc_color button_element_size button_size button_position">Перейти ко всем предметам</button>
            </section>
            <section class="robototex border-radius_block">

                <section class="texts_block_3">
                    <h3 class="robot_text_bottom" >Робототехника</h3>
                    <p class="text_on_dark text_margin_bottom">6 разделов, 500+ заданий</p>
                

            <nav class="navigation_robot_text">
                <ul class="navigation_robot">
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> Дошкольник </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 1 класс </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 2 класс </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 3 класс </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 4 класс </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 5 класс </a>
                    </li>
                    <li class="contacts_element_robot contacts_element">
                        <a class="menu_element" id="text_color" href="../templates/404.html"> 6 класс </a>
                    </li>
                </ul>
            </nav>
            </section>
                <section class="images">
                    <picture><img class="image_1" src="../pictures/block_3/designer.png"></picture>
                    <picture><img class="image_2" src="../pictures/block_3/star_group.png"></picture>
                    <picture><img class="background" src="../pictures/block_3/Vector_1.png"></picture>
                </section>
                
            </section>
        </article>

        <article class="block border-radius_block" id="block_4">    <!--Четвертый блок-->
            <section class="text_context_block_4">
            <h2 class="text_on_dark text_line_size">Цель проекта – обеспечить<span class="enter"> детей возможностью</span><span class="enter"> развития  инженерных</span> и конструкторских навыков
            </h2>
            <p class="text_on_dark text_line_size_low">Задания развивают интерес к конструированию,<span class="enter"> способствуют улучшению инженерных навыков</span> и позволяют найти свои сильные и слабые
                  места<span class="enter"> в знаниях робототехники</span></p>
            </section>
                  <section class="image">
                    <img class="boy" src="../pictures/block_4/boy.svg" width="230" height="406">
                    <img class="Big_star" src="../pictures/block_4/stars/big_star.svg">
                    <img class="star-1" src="../pictures/block_4/stars/star_1.svg">
                    <img class="star-2" src="../pictures/block_4/stars/star_2.svg">
                    <img class="planet" src="../pictures/block_4/planet.svg">
                    <img class="heart" src="../pictures/block_4/heart.svg">
                    <img class="Vector" src="../pictures/block_4/Vector.svg">
                  </section>
            
        </article>

        <article class="block border-radius_block" id="block_5">      <!--Пятый блок-->
            
            <section class="table_bok border-radius_block table_bok_format">

                <section class="text_block_5">
                <h3 class="h3_block_5_bok">12 000+ учеников уже занимаются на платформе</h3>
                <p class="p_block5_bok" id="text_color">Выбирайте подходящую возрастную категорию: задания
                     рассчитаны как на дошкольников,
                      так и на ребят постарше</p>
                </section>

                <picture class="image_children">
                    <img class="child_1" src="../pictures/block_5/children_1.svg">
                    <img class="child_2" src="../pictures/block_5/children_2.svg">
                    <img class="child_3" src="../pictures/block_5/children_3.svg">
                    <img class="child_4" src="../pictures/block_5/children_4.png">
                    <img class="child_5" src="../pictures/block_5/children_5.svg">
                    <img class="medal" src="../pictures/block_5/medal.svg">
                    <img class="cursor" src="../pictures/block_5/Cursor.svg">
                    <img class="star_1" src="../pictures/block_5/star_1.svg">
                    <img class="star_2" src="../pictures/block_5/star_2.svg">
                    <img class="star_3" src="../pictures/block_5/star_3.svg">
                    <img class="star_4" src="../pictures/block_5/star_4.svg">
                    <img class="star_5" src="../pictures/block_5/star_5.svg">
                    <img class="star_6" src="../pictures/block_5/star_6.svg">
                </picture>
                <button onclick="document.location='../templates/404.html'" class="button_quastions_format"><p class="button_text_format">Перейти к заданиям</p></button>
            </section>

            <section class="director border-radius_block">
                <div class="Vector">
                <section class="block_5_woman">

                <aside class="director_akadem direcor_format">
                    <picture><img class="image_margin_block" src="../pictures/block_5/woman.svg" width="200px" height="196.63"></picture>
                    <p class="text_color_low_block_size block_woman_low">Директор академического лицея</p>
                    <p class="text_color block_woman_h text_format ">Валентина Валериевна<p>
                </aside>

                <section class="text_block_5">
                <h3 class="text_block_5_woman">«Четверка, а не тройка как в предыдущие годы!»</h3>
           
                <p class="text_block_5_woman_low" id="text_color">«В нашей школе учителя с удовольствием принимают участие в олимпиадах Учи.ру.
                     Ребятам нравится олимпиада „Плюс“, „Дино-олимпиада“.
                      Это хорошая репетиция перед Московской и Всероссийской олимпиадами.
                       Дети уже с начальной школы готовятся к олимпиадному движению»</p>
                    </section>
                </section>

                 <picture class="image_directors">
                    <img class="woman_circle" src="../pictures/block_5/woman_circle.svg" width="56px" height="56">
                    <img class="woman_circle_DB_1" src="../pictures/block_5/woman_DB.svg" width="56px" height="56">
                    <img class="woman_circle_DB_2" src="../pictures/block_5/woman_DB.svg" width="56px" height="56">
                    <img class="woman_circle_DB_3" src="../pictures/block_5/woman_DB.svg" width="56px" height="56">
                    <img class="woman_circle_DB_4" src="../pictures/block_5/woman_DB.svg" width="56px" height="56">
                    <img class="woman_circle_DB_5" src="../pictures/block_5/woman_DB.svg" width="56px" height="56">
                
            </picture>
            <section class="button_circle">       
                <button class="button_click button_frame"><img class="curs" src="../pictures/block_5/strel/left.svg"></img></button>
                <button class="button_click button_frame"><img class="curs" src="../pictures/block_5/strel/rigth.svg"></button>

                </section>
            </div>
            
            </section>
        </article>

        <article class="block" id="block_6">         <!--Шестой блок-->
            <h2 >СМИ о нас</h2>

            <section class="media">

                <section class="media_1 media_size">
                <img class="media_image" src="../pictures/block_6/Media_image/media_3.png" width="440px" height="280">
                <a  href="http://lenta.ru" class="links_format">lenta.ru</a> <time class="date" datetime="2023-02-20">20.02.2023</time>
                <h5 class="media_text">Как учителя используют сервис РобикКлик для развития навыков школьников</h5>

                </section>
                <section class="media_2 media_size">
                <img class="media_image" src="../pictures/block_6/Media_image/media_1.png" width="440px" height="280">

                <a href="http://tranplin.ru" class="links_format">Транплин</a> <time class="date" datetime="2023-02-18">18.02.2023</time>
                <h5 class="media_text">Как помочь ребенку быстро влиться в учебный процесс после каникул — отвечают методисты «РобикКлик»</h5>
                </section>

                <section class="media_3 media_size">
                <img class="media_image" src="../pictures/block_6/Media_image/media_2.png" width="440px" height="280">
                <a href="http://OmskInform.ru" class="links_format">ОмскИнформ</a> <time class="date" datetime="2023-02-16">16.02.2023</time>
                <h5 class="media_text">Как привить у ребёнка интерес к робототехнике — мнение экспертов «РобикКлик»</h5>
                </section>

            </section>
        </article>

    </main>

    <footer id="footer">        <!--Подвал-->
        <div class="background_footer">
            <section class="head_footer">

        
        <section class="colon_1">
            <picture class="image">
                <img src="../logo/Logo_white.svg" width="98px" height="40px">
                <img class="big_star" src="../pictures/footer_elements/stars/big_star.svg">
                <img class="star_1" src="../pictures/footer_elements/stars/star_1.svg">
                <img class="star_2" src="../pictures/footer_elements/stars/star_2.svg">
                <a class="vk_frame" href="https://vk.com"><img src="../pictures/footer_elements/vk.svg" width="180px" height="32px"></a>
        </picture>
        
        <nav class="navigation_footer_text">
            <ul class="navigation_footer">
                <li class="contacts_element">
                    <a class="menu_element" id="text_color" href="../templates/404.html"> Реквизиты </a>
                </li>
                <li class="contacts_element">
                    <a class="menu_element" id="text_color" href="../templates/404.html"> Договор оферты </a>
                </li>
                <li class="contacts_element">
                    <a class="menu_element" id="text_color" href="../templates/404.html"> Пользовательское соглашение </a>
                </li>
                <li class="contacts_element">
                    <a class="menu_element" id="text_color" href="../templates/404.html"> Лицензия на осуществление образовательной деятельности </a>
                </li>
                <li class="contacts_element">
                    <a class="menu_element" id="text_color" href="../templates/404.html"> Политика конфиденциальности </a>
                </li>
            </ul>
        </nav>
    </section>
        <address class="address address_text">   <!--Подумать над переносом-->
            <section class="dates">
                <section class="connection">
                    <p class="text_size_footer" id="text_color">Электронная почта</p>
                    <a class="addres_footer_mail_number" id="text_color" href="mail@robikklik.ru">mail@robikklik.ru</a>
                    </section>
                    
                    <section class="connection">
                    <p class="text_size_footer" id="text_color">Номер телефона</p>
                    <a class="addres_footer_mail_number" id="text_color" href="tel:+7(888)8888888">+7 (888) 888 88 88</a>
                    </section>

            </section>
            
            <p class="company_asmart" id="text_color"><a class="company_asmart" id="text_color" href="https://asmart-group.ru/">Сайт создан в IT-company ASMART</a></p>
        </address>
    </section>
        </div>
    
    </footer>

</body>
</html>