/* Стиль для всех тегов */
* {
    margin: 0;
    
}
/* Адаптивная верстка, потом решим, что с этим делать
@media (min-width: 990px) {
   .aside {
     flex: 0 0 33.333333%;
     max-width: 33.333333%;
     order: 1;
   }
   .main {
     flex: 0 0 66.666667%;
     max-width: 66.666667%;
     order: 2;
   }
  }


  @media (min-width: 1400px) {
   .aside {
     flex: 0 0 25%;
     max-width: 25%;
   }
   .main {
     flex: 0 0 75%;
     max-width: 75%;
   }
  }

*/

/* Шрифты */

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
    color: #433D50;
    align-content: center;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    color: #433D50;
}

h3 {
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    color: #FFFF;
}

h5 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: #3D4250;
}

p {
    font-family: "Nunito+Sans", sans-serif;
    font-size: 16px;
    color: #FFFF;
}

.text_frame_low {
    color: #000000CC;
}

.text_frame_med {
    font-family: "Nunito", sans-serif;
    font-size: 48px;
}

.text_frame_med_low {
    color: #009EE3;
}



/*  */

/* Кнопки */

.menu_element {
    text-decoration: none;
    font-family: "Nunito+Sans", sans-serif;
    color: #3D4250;
}

/*  */

.frame {
    background-color: #EFF7FA;
}

.table_low {
    background-color: #FF953B;
}

.table_low_blu {
    background-color: #009EE3;
}

.table_bok,
.robototex,
.director{
    background-color: #0064E3;
}


.project {
    background-color: #DF5858;
}
/*  
.robototex {
    
}

.director {
    
}
*/

.button_element_blue {
    width: 230px;
    height: 48px;
    background-color: #ECF6FA;
    border-radius: 8px;
    border: none;
}

.button_element_blue_2 {
    width: 230px;
    height: 48px;
    background-color: #009EE3;
    border-radius: 8px;
    border: none;
}

.text_button { /* Добавить шрифты */
    font-size: 16px;
    color: #009EE3;
}

.text_button_2 {
    font-size: 16px;
    color: #FFFF;
}

.block {
    margin-left: 40px;
    margin-right: 40px;
}

.footer {
    background-color: #2F2483;
}

.contacts_element {
    display: inline-block;
    margin-right: 8px;
}
	
.contacts_element_robot {
    display: inline-block;
    margin-right: 8px;
}